<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        h1{
            background-color: dimgrey;
            text-align: center;
            color: white;
            margin: 0 auto;
            height: 50px;
            line-height: 50px;
        }
        a{
            font-size: 20px;
            color: yellowgreen;
            margin-left: 20px;
        }
        p{
            margin-top: 8px;
        }
    </style>
</head>
<body>
<h1>首      页</h1>
<div>
<p>
<p>
    <a href="classes.html"> 班级管理</a>
</p>
<p>
    <a href="teacher.html"> 老师管理</a>
</p>
<p>
    <a href="student.html"> 学生管理</a>
</p>
</p>
</div>

</body>
</html>